.stack-layout {
	display: grid;
	grid-template-areas: 'stack';
	aspect-ratio: var(--stack-aspect-ratio);

	> * {
		grid-area: stack;

		video,
		img {
			width: 100%;
		}

		header {
			place-self: center;
			font-size: clamp(2.5rem, 5vw, 5rem);
			text-align: center;
			line-height: 1;
			font-style: italic;
			padding: 5vh 2vw;
		}

		footer {
			align-self: end;
			justify-self: start;
			padding: 0 0 0.25em 0.5em;
			opacity: 0.8;
			font-size: 0.8rem;
		}

		header,
		footer {
			position: relative;
			color: #fff;
		}
	}
}

