@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

h1 {
	@apply text-4xl font-bold;
}


.icon-game {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
  }
  
  .icon-game {
	--fs: 48px;
	font-size: var(--fs);
  }
  